### Enabling and testing the GPU OPTIONAL

First, you'll need to enable GPUs for the notebook:

- Navigate to Editâ†’Notebook Settings
- select GPU from the Hardware Accelerator drop-down

In [3]:
# Testing if GPU is enabled

# # pytorch

# import torch
# print("Is GPU enabled {}".format(torch.cuda.is_available()))
# print("GPU ID {}".format(torch.cuda.current_device()))
# print("GPU Used {}".format(torch.cuda.get_device_name(torch.cuda.current_device())))

# # tensorflow

# %tensorflow_version 2.x
# import tensorflow as tf
# device_name = tf.test.gpu_device_name()
# if device_name != '/device:GPU:0':
#   raise SystemError('GPU device not found')
# print('Found GPU at: {}'.format(device_name))

### Installing VDL

In [ ]:
# Mount Google Drive 

from google.colab import drive
# gdrive is google drive contents
drive.mount("/content/gdrive")
%cd gdrive/My\ Drive

import os

if os.path.isdir("vdl/virtualdatalab/virtualdatalab"):
  # repo already existing
  %cd vdl/virtualdatalab
  ! git pull 
  %cd virtualdatalab
  !pip install -r requirements.txt
  !pip install .
else:
  %mkdir vdl
  %cd vdl
  ! git clone https://github.com/mostly-ai/virtualdatalab.git
  %cd virtualdatalab/virtualdatalab
  !pip install -r requirements.txt
  !pip install .

# Workspace

#### Imports

In [25]:
import pandas as pd
import numpy as np
from virtualdatalab.datasets import loader

# import torch
# import tensorflow as tf

#### Analysis

In [26]:
data = loader.load_cdnow()

In [28]:
data.head()

   id  cds    amt wday
0   3    4  20.96  Tue
1   3    5  57.45  Sat
2   3    1  16.99  Thu
3   3    2  20.76  Sun
4   3    2  20.76  Thu