In [ ]:
"""
If running on Google Colab
"""

# %mkdir vdl
# %cd vdl
# ! git clone https://github.com/mostly-ai/virtualdatalab.git
# %cd virtualdatalab
# !pip install -r requirements.txt
# !python setup.py build_ext --inplace 
# !pip install .

Simplest showcase of Identiysynthesizer + Dummy Data Generator

In [1]:
from virtualdatalab.target_data_generate import generate_simple_seq_dummy
from virtualdatalab.synthesizers.identity import IdentitySynthesizer
from virtualdatalab.benchmark import compare

## Generate Fake Data

In [2]:
"""
1000 subjects
sequences length between 2 and 6
5 categorical columns
5 sequential columns

"""
tgt_data = generate_simple_seq_dummy(1000,[2,6],5,5)

## Instantiate Generator

In [3]:
i = IdentitySynthesizer()
i.train(tgt_data)
syn_data = i.generate(1000)

In [4]:
syn_data.head()

                cat_col_0 cat_col_1 cat_col_2 cat_col_3 cat_col_4  num_col_0  \
id sequence_pos
0  0                    d         u         n         f         o   0.975978
   1                    o         r         l         f         m   0.534916
1  0                    v         k         r         r         s   0.768203
   1                    e         v         l         d         k   0.740438
   2                    x         s         y         s         d   0.544459

                 num_col_1  num_col_2  num_col_3  num_col_4
id sequence_pos
0  0              0.058519   0.363830   0.566396   0.205613
   1              0.544221   0.494521   0.652490   0.158749
1  0              0.936285   0.401959   0.916696   0.826720
   1              0.547449   0.894541   0.521714   0.786842
   2              0.175237   0.057001   0.079338   0.161121

## Analysis

In [5]:
# Statistical Distances
compare(tgt_data, syn_data, 'statistical-distances')

{'TVD univariate': 0.0336,
 'L1D univariate': 0.1006,
 'L1D bivariate': 0.24768,
 'L1D 3-way': 0.42478,
 'L1D 4-way': 0.55654,
 'L1D Users per Category': 0.0909,
 'L1D Categories per User': 0.0338}

In [6]:
# Privacy Tests
compare(tgt_data, syn_data, 'privacy-tests')

{'DCR test': 'FAILED', 'NNDR test': 'FAILED'}